<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/navbar-fixed-top.css" rel="stylesheet">
    <link href="~/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="~/css/carousel.css" rel="stylesheet">
    <link href="~/css/my.css" rel="stylesheet">
</head>
<body class="font-family-base font-size-base line-height-base link-color">
 @{ 
     NorthwndWeb.DataContext db = new NorthwndWeb.DataContext();
     var filmler = db.Movies.ToList();
     var kategori = db.MovieTypes.ToList();

 }
     
 
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Bootstrap theme</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kategoriler<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @foreach (var kate in kategori)
                            {
                                <li><a href="#">@kate.MovieTypeName</a></li>
                            }
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Arama Motoru<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><input type="text" class="form-control" id="fisimara" placeholder="Film İsmi"></li>
                            <li>

                                <!--@@@@ Sıkıntı var @@@@-->
                               <select class="form-control">
                                    @foreach (var kategoriAra in kategori)
                                    {
                                        <option>@kategoriAra.MovieTypeName</option>
                                    }
                                </select>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <!-- Carousel
    ================================================== -->
    <div class="container-fluid">
        <div id="main_area">
                <!-- Slider -->
                <div class="row">
                    <div class="col-xs-12" id="slider">
                        <!-- Top part of the slider -->
                        <div class="row">
                            <div class="col-sm-8" id="carousel-bounding-box">
                                <div class="carousel slide" id="myCarousel">
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        <div class="active item" data-slide-number="0">
                                        <img src="http://placehold.it/770x300&text=one"></div>

                                        <div class="item" data-slide-number="1">
                                        <img src="http://placehold.it/770x300&text=two"></div>

                                        <div class="item" data-slide-number="2">
                                        <img src="http://placehold.it/770x300&text=three"></div>

                                        <div class="item" data-slide-number="3">
                                        <img src="http://placehold.it/770x300&text=four"></div>

                                        <div class="item" data-slide-number="4">
                                        <img src="http://placehold.it/770x300&text=five"></div>

                                        <div class="item" data-slide-number="5">
                                        <img src="http://placehold.it/770x300&text=six"></div>
                                    </div><!-- Carousel nav -->
                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>                                       
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>                                       
                                    </a>                                
                                    </div>
                            </div>

                            <div class="col-sm-4" id="carousel-text"></div>

                            <div id="slide-content" style="display: none;">
                                <div id="slide-content-0">
                                    <h2>Slider One</h2>
                                    <p>Lorem Ipsum Dolor</p>
                                    <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                </div>

                                <div id="slide-content-1">
                                    <h2>Slider Two</h2>
                                    <p>Lorem Ipsum Dolor</p>
                                    <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                </div>

                                <div id="slide-content-2">
                                    <h2>Slider Three</h2>
                                    <p>Lorem Ipsum Dolor</p>
                                    <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                </div>

                                <div id="slide-content-3">
                                    <h2>Slider Four</h2>
                                    <p>Lorem Ipsum Dolor</p>
                                    <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                </div>

                                <div id="slide-content-4">
                                    <h2>Slider Five</h2>
                                    <p>Lorem Ipsum Dolor</p>
                                    <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                </div>

                                <div id="slide-content-5">
                                    <h2>Slider Six</h2>
                                    <p>Lorem Ipsum Dolor</p>
                                    <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/Slider-->

                <div class="row hidden-xs" id="slider-thumbs">
                        <!-- Bottom switcher of slider -->
                        <ul class="hide-bullets">
                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-0"><img src="http://placehold.it/170x100&text=one"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-1"><img src="http://placehold.it/170x100&text=two"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-2"><img src="http://placehold.it/170x100&text=three"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-3"><img src="http://placehold.it/170x100&text=four"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-4"><img src="http://placehold.it/170x100&text=five"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-5"><img src="http://placehold.it/170x100&text=six"></a>
                            </li>
                        </ul>                 
                </div>
        </div>
</div><!-- /.carousel -->

    <div role="tabpanel">
        <!-- Nav sekmeleri -->
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Filmler</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Belgeseller</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Diziler</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Ayarlar</a></li>
        </ul>
        <!-- Sekme çerçeveleri -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="home">
                <div class="container-fluid">
                    <div class="container-fluid">
                        
                        @foreach (var film in filmler)
                        {

                            //System.Drawing.Image.FromStream(stream);
                            <div class="col-xs-6 col-md-3 col-lg-2 col-sm-4" style="background-color:aliceblue;">
                                <a href="#">
                                    <img src="~/filmresim/@film.FilmResmi" class="img-rounded  center-block " style="width: 100%; height:auto;">
                                    <div class="caption text-center">


                                        <h4><strong><a href="#">@film.FilmAdi<span> - HD </span></a></strong></h4>
                                        @*<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                                <span class="text-center"><a href="#">@film.MovieType.MovieTypeName</a> </span><br />
                                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                                <span class="text-center"><a href="#">@film.MovieLanguage.FilmDil</a></span><br />
                                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                                <span class="text-center"><a href="#">@film.FilmPuani</a></span><br />
                                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                                <span class="text-center"><a href="#">@film.Filmyili</a></span><br />
                                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                                <span class="text-center"><a href="#">@film.Director.directorName</a> </span><br />
                                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                                <span class="text-center"><a href="#">@DateTime.Now</a></span>*@

                                        @*<ul class="list-unstyled">
                                    <li class="text-center lead " ><a href="#">Korku Filmleri</a></li>
                                    <li class="text-center lead"><a href="#">Türkçe Dublaj</a></li>
                                    <li class="text-center lead"><a href="#">Gösterim Tarihi</a></li>
                                    <li class="text-center lead "><a href="#">Eklenme Tarihi</a></li>
                                </ul>*@

                                    </div>

                                    @*<div class="space-ten"></div>*@
                                    <div class="btn-ground text-center">
                                        
                                    </div>
                                </a>
                                @*<div class="space-ten"></div>*@

                            </div>
                        }
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="profile">...</div>
            <div role="tabpanel" class="tab-pane fade" id="messages">...</div>
            <div role="tabpanel" class="tab-pane fade" id="settings">...</div>
        </div>
    </div>

    <!-- @@@@@@@@@@@@@@@@@@@@@@@@chat@@@@@@@@@@@@@@@@@@@@@@@@ -->
    <div class="row col-xs-4 col-md-3 col-sm-3">
        <div class="thumbnail en">
            <h4 style="">Sohbet</h4>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span> Chat
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                    <ul class="dropdown-menu slidedown">
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-refresh">
                                </span>Yenile
                            </a>
                        </li>
                        <li>
                            <a href="http://www.jquery2dotnet.com">
                                <span class="glyphicon glyphicon-ok-sign">
                                </span>Available
                            </a>
                        </li>
                        <li>
                            <a href="http://www.jquery2dotnet.com">
                                <span class="glyphicon glyphicon-remove">
                                </span>Busy
                            </a>
                        </li>
                        <li>
                            <a href="http://www.jquery2dotnet.com">
                                <span class="glyphicon glyphicon-time"></span>
                                Away
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="http://www.jquery2dotnet.com">
                                <span class="glyphicon glyphicon-off"></span>
                                Sign Out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <ul class="chat">
                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" style="width:50px; height:50px" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
                                    <span class="glyphicon glyphicon-time"></span>12 mins ago
                                </small>
                            </div>

                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                            dolor, quis ullamcorper ligula sodales.

                        </div>
                    </li>

                    <li class="right clearfix">
                        <span class="chat-img pull-right">
                            <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" style="width:50px; height:50px" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>15 mins ago</small>
                                <strong class="pull-right primary-font">Bhaumik Patel</strong>
                            </div>

                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                            dolor, quis ullamcorper ligula sodales.

                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                    <span class="input-group-btn">
                        <button class="btn btn-warning btn-sm" id="btn-chat">
                            Send
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    

        


   
    @{ 
//NorthwndWeb.DataContext db = new NorthwndWeb.DataContext();
//var movie = db.Movies.Find("3cdc748a-3f46-47db-ada4-994977a5ebde");
//var mLanguage = movie.MovieLanguage.FilmDil;
//var mTypeName = movie.MovieType.MovieTypeName;
    }


    @*<h1>@mTypeName</h1><br />
    <h1>@mLanguage</h1>*@
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })
    </script>
    <!-- script -->
    <script src="~/js/myJV.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/tether.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/holder.min.js"></script>
        <script>
            $(document).ready(function () {
                console.log("ready!");
            });

            $("#js-test").on("click", function () {
                console.log("Butona tıklandı");
            });
        </script>
    <script>
            $(".dropdown-menu li a").click(function () {
                var selText = $(this).text();
                $(this).parents('.btn-group').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
            });
    </script>
    <!-- @@@@ select scriptleri @@@@-->
    <script>
            $(document).ready(function () {
                $(".btn-select").each(function (e) {
                    var value = $(this).find("ul li.selected").html();
                    if (value != undefined) {
                        $(this).find(".btn-select-input").val(value);
                        $(this).find(".btn-select-value").html(value);
                    }
                });
            });

            $(document).on('click', '.btn-select', function (e) {
                e.preventDefault();
                var ul = $(this).find("ul");
                if ($(this).hasClass("active")) {
                    if (ul.find("li").is(e.target)) {
                        var target = $(e.target);
                        target.addClass("selected").siblings().removeClass("selected");
                        var value = target.html();
                        $(this).find(".btn-select-input").val(value);
                        $(this).find(".btn-select-value").html(value);
                    }
                    ul.hide();
                    $(this).removeClass("active");
                }
                else {
                    $('.btn-select').not(this).each(function () {
                        $(this).removeClass("active").find("ul").hide();
                    });
                    ul.slideDown(300);
                    $(this).addClass("active");
                }
            });

            $(document).on('click', function (e) {
                var target = $(e.target).closest(".btn-select");
                if (!target.length) {
                    $(".btn-select").removeClass("active").find("ul").hide();
                }
            });

    </script>
    <script>
            $(function () {
                $('#myTab a:last').tab('show')
            })
    </script>
    <!-- Oto Açılır Menü-->
    <script>
            $('ul.nav li.dropdown').hover(function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
            }, function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
            });
    </script>
    <script>
            jQuery(document).ready(function ($) {

                $('#myCarousel').carousel({
                    interval: 5000
                });

                $('#carousel-text').html($('#slide-content-0').html());

                //Handles the carousel thumbnails
                $('[id^=carousel-selector-]').click(function () {
                    var id = this.id.substr(this.id.lastIndexOf("-") + 1);
                    var id = parseInt(id);
                    $('#myCarousel').carousel(id);
                });


                // When the carousel slides, auto update the text
                $('#myCarousel').on('slid.bs.carousel', function (e) {
                    var id = $('.item.active').data('slide-number');
                    $('#carousel-text').html($('#slide-content-' + id).html());
                });
            });
    </script>
    
</body>
</html>
